<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!--
        1、动态组件
    -->
    <div id="demo">
       
    </div>
    <script src="../js/vue.js"></script>
    <script>
       
        Vue.component('custom-input',{
            props:['value'],
            template:`<div>
                <slot></slot>
                <input type="text" v-bind:value="value" 
                    v-on:input="$emit('input',$event.target.value)" 
                    v-on:keyup.enter="$emit('enter')" 
                >
            </div>
            ` // 将新值通过自定义的input事件抛出 $emit 
        });

        new Vue({ 
            el: "#custom-input-demo" ,
            data:{
                searchText: ''
            },
            methods:{
                tishi:function(){
                    alert(this.searchText);
                }
            }
        });
    </script>
</body>

</html>